
.container {
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.listComponent {
    display: flex;
    flex-direction: column;
    width: 240px;
    position: relative;

}
.img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.name {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0px;
}

.oldPrice {
    text-decoration: line-through;
    color: #888;
}
.discount {
    position: absolute;
    top: 30px;
    right: 25px;
    background-color: orange;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-right: 15px;
}


