/* *{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F7FC;
}
.container{
 
 padding: 100px 90px;
 width: 20%;
 margin: 100px 0;
}

.top-row {
    padding: 20px 40px;
    background-color: white;
    text-align: center;
    border: solid 1px black;
}

.top-number {
    font-size: 24px;
    color: #38CAE5;
}

.bottom-row{
    border: solid 1px black;
    display: flex;
    background-color: #FCFCFC;
    padding: 20px 40px;
    justify-content: space-between;
    text-align: center;
}
.bottom-text{
    justify-content: space-between;
    
}
.column { 
    
    padding: 10px;
    margin: 0px 10px;
    border: solid 1px black;
    height: 60px;
    margin-bottom: 10px;
    
} */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: white;
    padding: 30px 40px;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
  }
  
  .card h3 {
    color: #777;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card h1 {
    color: #00bcd4;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 100;
  }
  
  .bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 30px;
    background-color: #eee;
    overflow: hidden;
    position: relative;
  }
  
  .fill {
    width: 100%;
    position: absolute;
    bottom: 20px;
  }
  
  .bar span {
    margin-top: auto;
    font-size: 12px;
    color: #555;
    padding: 5px 100% 0 100%;

    background-color: white;
  }
  
  .red { background-color: #e74c3c; }
  .green { background-color: #2ecc71; }
  .yellow { background-color: #f1c40f; }
  .blue { background-color: #3498db; }
  .orange { background-color: #e67e22; }
  