.accordionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.accordionItem {
  border: 1px solid #e0e0e0;
  overflow: hidden;
  width: 50%;
}

.accordionHeader {
  background: #f7f7f7;
  color: #444;
  font-weight: bold;
  padding: 16px;
  cursor: pointer;
  text-align: center;
}

.accordionHeader.open {
  background: #3cb371;
  color: #fff;
}

.accordionContent {
  background: #fff;
  color: #333;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}
